* {
    margin: 0;
    padding: 0;
    font-family: "Brooklyn", sans-serif;
}

/* body styles */
body {
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 20px;
    padding: 20px;
}

/* Homepage styles */
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h2 {
    margin: 50px;
}

.homepage img {
    height: 500px;
    width: 800px;
}

.homepage h2 {
    margin-bottom: 10px;
}

.homepage p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: darkblue;
    color: rgb(252, 249, 249);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    padding: 15px 32px;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: darkslategray;
    color: white;
}

/*footer style*/
.footer {
    color: black;
    font-size: 1.2rem;
    margin: 30px;
    text-align: center;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: darkblue;
}